body {
    font-family: "Segoe UI", sans-serif;
}

.card-body {
    padding: 25px;
}

canvas {
    border: 2px solid #222;
    background-color: #c9edff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0004;
}